{{#each carts as |cart| }}
<div id="checkoutCard" class="item-card card text-center" style="width: 18rem">
    <img class="card-img-top col mx-auto" src="{{{sprites}}}" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title">Item: {{name}}</h5>
        <p class="card-text ">Type: {{types}}</p>
        <p class="card-text">Price: {{price}}</p>
        <p class="card-text"></p>
  </div>
       <form id="form"class="form">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" id="hidden-form" class="sr-only"></label>
    <input data-id="{{{id}}}" class="hidden-form form-control" placeholder="{{{id}}}">
  </div>
  <button type="button" onClick="addToCart(this.id)" data-cmd="add" id="{{{id}}}" class="addToCart btn btn-primary mb-2">Add to cart!</button>
</form>
</div>
{{/each}}
<div>
    <button type="button" onClick="addToCart(this.id)" data-cmd="add" id="{{{id}}}" class="addToCart btn btn-primary mb-2">Checkout!</button>
</div>